.itens-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;

}

.itens-list article {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.itens-list p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.itens-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid gold;
    background: none;
    margin-top: 10px;
    color: gold;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.itens-list article a:hover {  
    background: gold;
    color: white;
}

.itens-list .actions {  
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.itens-list .actions button{  
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: gold;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.itens-list .actions button:hover{  
    opacity: 0.7;
}
