.item-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.item-info a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #000;
    background: none;
    margin-top: 10px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.item-info a:hover {  
    background: gold;
    /*color: white;*/
}